@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
  background: #c0e9f1;
}

::-webkit-scrollbar-thumb {
  background: #06B6D4;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e859b;
  cursor: pointer;
}
